#index-secret_mode__body {
  background: none;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
}

#index-secret_mode__body .status-bar {
  color: white;
  background-color: rgba(0, 0, 0, 0.95);
}

#index-secret_mode__body a {
  color: white;
}

#index-secret_mode__body .welcome-header__text {
  color: white;
}
#index-secret_mode__body .welcome-header {
  margin-bottom: 60px;
}
#index-secret_mode__body .welcome-header p {
  margin-bottom: 30px;
}
