@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Ubuntu&display=swap');

@import "screens/reset.css";
@import "screens/variables.css";

@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/badge-small_dot.css";
@import "components/splash-screen.css";
@import "components/no-mobile.css";

@import "components/login.css";
@import "friends.css";
@import "find.css";
@import "components/icon-row.css";
@import "more.css";
@import "components/alt-screen-header.css";
@import "settings.css";
@import "chat.css";

body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  background: white url("beer_bottles__background.jpg") no-repeat center center;
}

.main-screen {
  margin: 0px var(--horizontal-space);
  height: 100vh;
  margin-bottom: 100px;
}

#index-screen__body {
  background: white url("beer_bottles__background.jpg") no-repeat center 620px;
}

#more-body,
#chats-body,
#settings-body {
  background: white url("beer_bottles__background.jpg") no-repeat center 540px;
}

#friends-body {
  background: white url("beer_bottles__background.jpg") no-repeat center 750px;
}
