@keyframes HideSplashScreen {
  0% {
    opacity: 0;
  }
  0.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes LastSplashScreen {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.splash-screen_bottles div {
  z-index: 10;
}
.splash-screen1 {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: HideSplashScreen 0.3s ease-in-out forwards;
  will-change: auto;
}
.splash-screen2 {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: HideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.15s;
  will-change: auto;
}

.splash-screen3 {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: HideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
  will-change: auto;
}

.splash-screen4 {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: HideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.45s;
  will-change: auto;
}

.splash-screen5 {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: HideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
  will-change: auto;
}

.splash-screen6 {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: HideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.75s;
  will-change: auto;
}

.splash-screen7 {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: HideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.9s;
  will-change: auto;
}
.splash-screen8 {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: HideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1.05s;
  will-change: auto;
}
.splash-screen9 {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: LastSplashScreen 1s linear forwards;
  animation-delay: 1.2s;
  will-change: auto;
}
