.user-component {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.user-component__column {
  display: flex;
  align-items: center;
}
#chats-body .user-component__column {
  margin-bottom: 10px;
}

.user-component__avatar {
  height: 70px;
  width: 70px;
  border-radius: 28px;
  margin-right: 20px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 600;
}
.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  display: flex;
  align-items: center;
}
.user-component__avatar--xl {
  height: 80px;
  width: 80px;
}
.user-component__title--sm {
  font-size: 18px;
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 5px;
}

.black-user__component {
  color: rgba(0, 0, 0, 0.6);
}

.user-component__song {
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: block;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.02);
}
.user-component__song i {
  margin: 0px 5px;
}
.user-component__column i {
  color: rgba(0, 0, 0, 0.7);
}

#chats-body .user-component:hover {
  margin: -5px -10px;
  padding: 0px 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
